.category-product {

    &__wrapper {
        margin-bottom: 20px;
        @include for-phone-portrait {
            margin-bottom: 30px;
        }
    }

    &__items {
        display: flex;
        @include for-phone-portrait {
            flex-direction: column;
        }
    }

    &__item {
        margin-left: 10px;
        padding: 20px 74px 20px 20px;
        display: flex;
        align-items: center;
        border: 1px solid #F2F2F2;
        border-radius: 3px;
        transition: all 0.2s;
        &:hover {
            box-shadow: 0px 2px 16px 2px rgba(94, 15, 17, 0.22);
            .category-product__text {
                color: #D20004;
            }
        }
        &:nth-child(1) {
            margin-left: 0;
        }
        @include for-phone-portrait {
            margin-left: 0;
            margin-top: 10px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    &__icon {
        margin-right: 20px;
    }

    &__text {
        max-width: 164px;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        transition: all 0.2s;
    }

    &__title {
        margin-bottom: 60px;
        @include for-phone-portrait {
            margin-bottom: 30px;
        }
        .title {
            @include for-phone-portrait {
                padding-left: 19px;
                padding-right: 0;
            }
        } 
    }

    &__back {
        display: none;
        @include for-phone-portrait {
            display: block;
        }
    }
}
