.product {

    &__wraper {
    }

    &__title {
        
    }

    &__item-title {
        margin-bottom: 48px;
        @include for-phone-portrait {
            margin-bottom: 20px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 467px 699px;
        justify-content: space-between;
        @include for-desk {
            grid-template-columns: 370px 650px;
        }
        @include for-tablet-landscape {
            grid-template-columns: 370px 1fr;
            gap: 50px;
        }
        @include for-phone-portrait {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        img {
            object-fit: cover;
        }
        @include for-phone-portrait {
            box-shadow: none;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        @include for-tablet-landscape {
            flex-direction: column;
        }
    }

    &__char {
        margin-top: 51px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include for-phone-portrait {
            margin-top: 0;
            padding: 0 19px;
        }
        
    }

    &__char-title {
        margin-bottom: 22px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
    }

    &__char-list {
    }

    &__char-item {
        display: flex;
        margin-top: 10px;
        &:nth-child(1) {
            margin-top: 0;
        }
        
    }

    &__char-name {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #888888;
    }

    &__char-divider {
        margin: 0 10px;
    }

    &__char-content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }

    &__char-all {
        position: relative;
        width: fit-content;
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            border-bottom: 2px dashed #000000;
        }
        @include for-phone-portrait {
            margin-top: 15px;
        }
    }

    &__controls {
        margin-top: 51px;
        @include for-tablet-landscape {
            margin-top: 30px;
        }
    }

    &__controls-price {
        padding: 21px 108px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #D20004;
        box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            background: #FFFFFF;
            color: #D20004;
        }
        @include for-tablet-landscape {
            padding: 15px 48px;
        }
        @include for-phone-portrait {
            /* display: none; */
            z-index: 100;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &__controls-items {
        margin-top: 30px;
        @include for-phone-portrait {
            margin-top: 0;
        }
    }

    &__controls-item {
        display: flex;
        align-items: center;
        margin-top: 12px;
        @include for-phone-portrait {
            margin-top: 15px;
        }
        &:nth-child(1) {
            margin-top: 0;
            .product__controls-icon {
                margin-right: 10px;
            }
        }
        &:nth-child(2) {
            .product__controls-icon {
                margin-right: 26px;
            }
        }
    }

    &__controls-icon {
        object-fit: contain;
    }

    &__controls-name {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;

    }

    &__tabs {
        margin-top: 40px;
        padding-top: 52px;
        border-top: 1px solid #F2F2F2;
        @include for-phone-portrait {
            margin-top: 30px;
            padding-top: 35px;
        }
    }

    &__tab {
        padding-top: 57px;
    }

    &__tab-content {
    }

    &__tab-description {
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #888888;
        }
    }

    &__tab-char-list {
        max-width: 415px;
        width: 100%;
    }

    &__tab-char-item {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(1) {
            margin-top: 0;
        }
        @include for-phone-portrait {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 15px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }

    &__tab-char-name {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #888888;
    }

    &__tab-char-divider {
        /* border: 1px dashed #000000;
        width: 100%;
        height: 1px; */
    }

    &__tab-char-content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        @include for-phone-portrait {
            margin-top: 5px;
        }
    }


    &__char-main {
    }

    &__char-sub {
        @include for-tablet-landscape {
            margin-top: 10px;
        }
    }

    &__question {
        display: flex;
        cursor: pointer;
        &_main {
            @include for-phone-portrait {
                display: none;
            }
        }
        &_mob {
            display: none;
            @include for-phone-portrait {
                display: flex;
                margin-top: 15px;
            }
        }
    }

    &__question-icon {
        margin-right: 10px;
    }

    &__question-text {
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-bottom: 2px dashed #000000;
        }
    }

    &__tab-delivery {
        h3 {
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 135%;
            color: #888888;
        }
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #888888;
        }
    }

}




.tab {
    position: relative;
    padding: 18px 30px;
    background: #F8F8F9;
    border: 1px solid #F8DFDF;
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #888888;
    cursor: pointer;
    @include for-phone-portrait {
        padding: 18px 15px;
    }
}

.wrapper .active { 
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #D20004;
    }
}

.tab_content {
    margin-top: 45px;
}

.tab_item {
     display: none; 
     padding: 0 40px;
     @include for-phone-portrait {
        padding: 0;
     }
}
.tab_item:first-child {
     display: block; 
}